<p>Hey {{ username }},</p>
<p>Thanks for registering at SSHT. You won't be able to use the tool until you confirmed your email by clicking the below link:</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>
<p>If you did not request this email, please reply and let me know.</p>
<p>Regards</p>
<p>SSHT Admin</p>